body {
  background-color: #000;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Roboto", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

.bib-logo {
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.coming-soon {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10vh;
}

.black {
  background-color: #000;
  padding: 5vh;

  img {
    margin: 0 20px;
  }
}

.white {
  background-color: #fff;
  padding: 5vh;

  img {
    margin: 0 20px;
  }
}