---
page: Home
title: Built In Birmingham
description: A city of builders
priority: 1.0
---

.bib-logo
  = image_tag "built-in-birmingham-logo-primary-white.svg", alt: "Built In Birmingham", width: "400"

%h4.coming-soon Coming Soon